.left {
    float: left;
    border: solid red;
    display: block;
    border-width: 0 1px;
    clear: both;
}
.left bottom { 
    clear: right;
    position: absolute;
    border-width: 0;
}



table, tr, td {
    border: solid blue;
    border-width: 0 10px;
    font-family: 'Helvetica Neue,Helvetica,Arial,sans-serif'; 
    background-color: aqua;
    
}




