<div ng-controller="ModalInstanceCtrl as modalinstance" class="modal-fade">
    <div>
        <div class="modal-header">
                Main Content
        </div>
        <div class="modal-body">
               test
        </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="modalinstance.ok()">Create</button>
        <button class="btn btn-warning" type="button"
        ng-click="modalinstance.dismiss()">Cancel</button>
    </div>
  </div> 
</div>

