
 <div class="container">
  <div ng-controller = "HomeCtrl as home">
   <!--Sidebar channels-->
        <h1>Bloc Chat</h1>
        <div class="sidebar">
           <div>
                <div ng-repeat="room in home.rooms track by $index">
                    <!-- click to change room --> 
                    <button class="btn btn room" type="button" class="bn"  ng-click="home.selectroom(room)">
                    {{ room.$value }}
                    </button>
                </div>   
           </div>

        </div>
<!--display active room with the roomId -->
        <div class="wrapper" >
               <header>{{ activeRoom.$value }}</header>
            <div ng-repeat="message in messages track by $index">
                <table>
                    <tr> 
                        <td>
                          {{ message.content}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                          {{ message.sentAt }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                          {{ message.username }}
                        </td>
                    </tr>
                </table>
            </div>
                            <!-- Send message form -->
            <div class ="wrapper send">
                <form name="newMessage" autocomplete="off">
                    <input type="text" name="home.message" required ng-model="home.message"/>
                    &nbsp;
                    <button ng-click="home.sendMessage(home.message, activeRoom)" value="send" id="send">Send</button>
                </form> 
            </div>
        </div>
    </div>
</div>
   <!--Add new room button-->
    <div class= "sidebar addroom" ng-controller="ModalCtrl as modaly">
            <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="modaly.open()">Add
            </button> 
    </div>


