<div ng-controller = "HomeCtrl as home">
   <!--Chat room channels-->
    <h1>Bloc Chat</h1>
    <div class="left">
        <p ng-repeat="room in home.rooms track by $index">
            <!-- click to change room -->
            <button ng-click="home.selectroom(room)">{{ room.$value }}
            </button>
        </p>
    </div>
<!--display active room with the roomId -->
    <div background-color="">
        <div ng-repeat="message in messages track by $index"> 
            <table>
                 <!-- repeat messages, sentAt, content, and username -->
                    {{ message.messages }} {{ message.sentAt }} {{ message.content}} {{ message.username }}
            </table>
        </p>

    </div>
    <div>
    The current user is {{ currentUserName }}
    </div>
    
    </div>
</div>
   <!--Add new room button-->
    <div class= "left bottom" ng-controller="ModalCtrl as modaly">
            <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="modaly.open()">Add
            </button> 
    </div>

